html,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: butterbean, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    background-image: url(1.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h3, legend{
    color: white;
    padding-top: 5px;
}
.submit{
    margin: 0px 10px;
    border: 2px solid rgb(166, 203, 215);
    padding: 13px 35px;
    letter-spacing: 1px;
    color: #f5f5f5;
    border-radius: 30px;
    background-color: rgb(4, 57, 50);
    text-decoration: no;
}
.submit:hover{
    border: 2px solid rgb(65, 246, 213);
    color: rgb(189, 248, 218);
    background-color: transparent;
    transition: 0.9s;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.gender-category {
    margin: 15px 0;
    color: white;
}

.gender-category label {
    padding: 0 20px 0 5px;
}

span{
    color: #f5f5f5;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

@media(max-width: 600px) {
    .container {
        min-width: 280px;
    }

    .main-user-info::-webkit-scrollbar {
        width: 0;
    }
}


.bubbles img {
    width: 50px;
    animation: bubbles 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubbles {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}